@charset "utf-8";
/* CSS Document */

 #background{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.2;
    filter:alpha(opacity=80);
	}
	

h1{
	
	font-style:inherit !important;
	font-family:"Times New Roman", Times, serif;
	color:#003 !important ;
	
	}
p{
	font-family:"Book Antiqua", "Lucida Grande", sans-serif;
	color:#55002c !important;
	font-size:18px;
	font-weight: 800;
	text-align: justify;
	}
h3{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#003;
	font-weight: bold;
	font-kerning:auto; 
	}
h2{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#120957;
	font-size:24px;
	font-weight: bold;
	}
h4{
	font-family:Georgia, serif;
	color:#0a0029;
	font-size:22px;
	font-weight: bold;
	}
ul{
	font-family:"MS Serif", "New York", serif;
	font-weight: bold;
	color:#003;
	font-size:20px;}
a{
	font-family:"Times New Roman", Times, serif;
	color:#000
	font-weight: bold;
	}
label{
	
	font:"Times New Roman", Times, serif;
	color:#003;
	}

form{
	color:#999;}
small{
	font-color:#003;
	}

small{
	text-decoration: overline;
	color:#390c74 !important;
	}
table{
	font-family: Arial, Helvetica, serif;
	font-weight: bold;
	font-size: 16px;	
	}
th{
	color:#5c0073;
}
tbody{
	color:#2f002c;
}
ol{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	font-size: 16px;
	color:#2f002c;
}
span{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	}
.size{
	font-size: 18px;
}	