@charset "utf-8";
/* CSS Document */


	#background{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.5;
    filter:alpha(opacity=80);
	}
	
h1{
	
	font-style:inherit !important;
	font-family:"Times New Roman", Times, serif;
	color:#003 !important ;
	
	}
p{
	font-family:"Book Antiqua", "Lucida Grande", sans-serif;
	color:#55002c;
	font-size:18px;
	font-weight: bold;
	text-align: justify;
	}
h3{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#003;
	}
h2{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#ffffff;
	font-size:24px;
	}
h4{
	font-family:"MS Serif", "New York", serif;
	color:#2b002e;
	font-size:22px;
	text-align: justify;
	}
ul{
	font-family:"MS Serif", "New York", serif;
	color:#003;
	font-size:20px;}
a{
	font-family:"Times New Roman", Times, serif;
	color:#000
	}
label{
	
	font:"Times New Roman", Times, serif;
	color:#003;
	}
ol{
	font:Tahoma, Geneva, sans-serif !important;
	color:#003 !important;}
form{
	color:#999;}
small{
	font-color:#003;
	}

small{
	text-decoration: overline;
	color:#390c74 !important;
	}